
<div class="nav" role="main">
  <a routerLinkActive="nav-active" [routerLink]="['/home']">Home</a>
  |
  <a routerLinkActive="nav-active" [routerLink]="['/about']">About</a>
  |
  <a routerLinkActive="nav-active" [routerLink]="['/hello-world']">404</a>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
